:root {
    --font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    /* max-width: 1600px; */
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.vk {
    margin: 0 53px;
}

.logo {
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-padding {
    padding-left: 30px;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    padding-left: 15px;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.menu-top {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    color: #262626;
    margin-bottom: 68px;
}

.menu-item {
    font-size: 24px;
    width: 218px;
    margin-bottom: 0px;
}

.menu-side-right {
    width: 40%;
}

.menu-side-left {
    width: 38%;
}

.shopping-cart {
    margin-bottom: 0px;
}

.menu-bottom {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #262626;
    margin-bottom: 44px;
}

/* top styles */

.top {
    background: linear-gradient(180deg, #b3d9f3 0%, rgba(207, 255, 229, 0.7) 27.88%, rgba(249, 229, 238, 0.8) 73.56%);
    height: 843px;

}

.top-back {
    background-image: url(image/macarons.png);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-since {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: #272727;
    margin-bottom: 0;
}

.top-heading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    color: #262626;
    margin: 9px 0 25px 0;
}

.top-subtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    color: #262626;
    margin-top: 0;
}

/* our proposals. */

.our-proposals {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    background: #f8eaf1;
    justify-content: center;
    padding-bottom: 59px;
    padding-top: 58px;
}

.proposals-item {
    display: flex;
    width: 911px;
    gap: 30px;
    padding: 27px 49px 19px 49px;
    background: #ffffff;
    border-radius: 25px;
}

.proposals-item img {
    width: 257px;
    height: 257px;
}

.proposals-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    color: #262626;
}

.proposals-subtext {
    font-size: 32px;
}

.proposals-headtext {
    font-weight: 400;
    font-size: 40px;
}

.card1 {
    background-image: url(image/cards/card1back.svg);
    background-size: cover;
}

.card2 {
    background-image: url(image/cards/card2back.svg);
    background-size: cover;

}

.card3 {
    background-image: url(image/cards/card3back.svg);
    background-size: cover;
}

.card4 {
    background-image: url(image/cards/card4back.svg);
    background-size: cover;
}

.card5 {
    background-image: url(image/cards/card5back.svg);
    background-size: cover;
}

.card6 {
    background-image: url(image/cards/card6back.svg);
    background-size: cover;
}

/* sales */

.sales {
    background-color: #f8eaf1;
    padding-bottom: 20px;
}

.sales-box {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
    justify-content: center;

}

.sales-item {
    width: 100%;
    padding: 35px 35px 110px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 6px 15px 25px 0 rgba(38, 38, 38, 0.2);
    background: #fbfbfb;
    position: relative;
}

.sales-item img {
    width: 80%;
    padding: 35px;
}

.sales-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #262626;
}

.sales-headtext {
    font-size: 30px;
    font-weight: 350;
    margin-top: 0;
}

.sales-price {
    font-size: 25px;
}

.sales-button {
    border-radius: 10px;
    width: 50%;
    height: 74px;
    background: #b3d9f3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #262626;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}

/* news */

.news {
    background: linear-gradient(180deg, #f8eaf1 0%, rgba(207, 255, 229, 0.6) 39.36%, #b3d9f3 100%);
    padding: 20px 0;

}

.news-box {
    background-image: url(image/cards/macarons.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
}

.news-heading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    color: #262626;
    background-image: url(image/news/line.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 99%;
}

.news-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.news-item {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    width: 70%;
    border-radius: 15px;
    flex-direction: row-reverse;
}

.news-item img {
    width: 27%;
}

.news-text {
    padding-left: 39px;
}

.news-headtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    color: #262626;
}

.news-subtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #262626;
}

.news-date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    color: #262626;
}

.news-button {
    background: #cfffe5;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    color: #262626;
    border: none;
    border-radius: 15px;
    padding: 30px 260px;
    margin: 50px;
}

/* praising */

.praising {
    padding-bottom: 100px;
    background: linear-gradient(0deg, #b3d9f3 0%, rgba(207, 255, 229, 0.6) 39.36%, #b3d9f3 100%);
}

.praising-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.praising-item {
    background-color: #ffffff;
    width: 45%;
    display: flex;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    margin: 23px;
}

.praising-item img {
    width: 30%;
}

.praising-text {
    padding-left: 10px;
}


.praising-heading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 50px;
    color: #262626;
    padding-top: 100px;
    text-align: center;
    background-image: url(image/pr/bck.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
    width: 50%;
    margin: 0 auto;
}


.praising-headtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    color: #262626;
}

.praising-subtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #262626;
}

/* footer */

.footer {
    display: flex;
    padding: 40px;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.contacts-item {
    width: 60px;
    height: 200px;
    background-color: #ffffff;

}

.contacts-item:last-child {
    grid-column: 2/span 2;
    grid-row: 2;

}

.contacts-heading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    text-align: right;
    color: #262626;
    margin-top: 0;
}

.contacts-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    text-align: right;
    color: #262626;
    padding-left: 0;
}

.contacts-number {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: #262626;
    margin: 7px 0;
}

.contacts-item li {
    list-style-type: none
}

.logo2 {
    padding-right: 50px;
}

.social-media2 {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.line {
    border-right: 1px solid #262626;
    padding-right: 30px;
}

.address {
    text-align: left;
}

.address li {
    margin: 8px 0;
}