:root {
    --font-family: "Montserrat", sans-serif;
}

.social-media {
    display: flex;
    justify-content: center;
}

.vk {
    margin: 0 53px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-padding {
    padding-left: 30px;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.menu-top {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #262626;
    margin-bottom: 68px;
}

.menu-item {
    font-size: 24px;
    width: 218px;
    margin-bottom: 0px;
}

.menu-side-right {
    width: 45%;
}

.menu-side-left {
    width: 38%;
}

.shopping-cart {
    margin-bottom: 0px;
}

.menu-bottom {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #262626;
    margin-bottom: 44px;
}

/* top styles */

.top {
    background: linear-gradient(180deg, #b3d9f3 0%, rgba(207, 255, 229, 0.7) 27.88%, rgba(249, 229, 238, 0.8) 73.56%);
    height: 843px;

}

.top-back {
    background-image: url(image/macarons.png);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-since {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: #272727;
    margin-bottom: 0;
}

.top-heading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 64px;
    color: #262626;
    margin: 9px 0 25px 0;
}

.top-subtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #262626;
    margin-top: 0;
}