:root {
    --font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    /* max-width: 1600px; */
}

.social-media {
    display: flex;
    justify-content: center;
}

.vk {
    margin: 0 53px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-padding {
    padding-left: 30px;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.menu-top {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #262626;
    margin-bottom: 68px;
}

.menu-item {
    font-size: 24px;
    width: 218px;
    margin-bottom: 0px;
}

.menu-side-right {
    width: 45%;
}

.menu-side-left {
    width: 38%;
}

.shopping-cart {
    margin-bottom: 0px;
}

.menu-bottom {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #262626;
    margin-bottom: 44px;
}

/* top styles */

.top {
    background: linear-gradient(180deg, #b3d9f3 0%, rgba(207, 255, 229, 0.7) 27.88%, rgba(249, 229, 238, 0.8) 73.56%);
    height: 843px;

}

.top-back {
    background-image: url(image/macarons.png);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-since {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: #272727;
    margin-bottom: 0;
}

.top-heading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 64px;
    color: #262626;
    margin: 9px 0 25px 0;
}

.top-subtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #262626;
    margin-top: 0;
}

/* our proposals. */

.our-proposals {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    background: #f8eaf1;
    justify-content: center;
    padding-bottom: 59px;
    padding-top: 58px;
}

.proposals-item {
    display: flex;
    width: 911px;
    gap: 30px;
    padding: 27px 49px 19px 49px;
    background: #ffffff;
    border-radius: 25px;
}

.proposals-item img {
    width: 257px;
    height: 257px;
}

.proposals-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    color: #262626;
}

.proposals-subtext {
    font-size: 32px;
}

.proposals-headtext {
    font-weight: 400;
    font-size: 40px;
}

.card1 {
    background-image: url(image/cards/card1back.svg);
    background-size: cover;
}

.card2 {
    background-image: url(image/cards/card2back.svg);
    background-size: cover;

}

.card3 {
    background-image: url(image/cards/card3back.svg);
    background-size: cover;
}

.card4 {
    background-image: url(image/cards/card4back.svg);
    background-size: cover;
}

.card5 {
    background-image: url(image/cards/card5back.svg);
    background-size: cover;
}

.card6 {
    background-image: url(image/cards/card6back.svg);
    background-size: cover;
}

/* sales */

.sales {
    background-color: #f8eaf1;
}

.sales-box {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;

}

.sales-item {
    width: 100%;
    padding: 35px 35px 110px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 6px 15px 25px 0 rgba(38, 38, 38, 0.2);
    background: #fbfbfb;
    position: relative;
}

.sales-item img {
    width: 80%;
    padding: 35px;
}

.sales-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #262626;
}

.sales-headtext {
    font-size: 30px;
    font-weight: 350;
    margin-top: 0;
}

.sales-price {
    font-size: 25px;
}

.sales-button {
    border-radius: 10px;
    width: 50%;
    height: 74px;
    background: #b3d9f3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #262626;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}